<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UI 프로젝트 - CSS</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <!-- <script type="module" src="/src/main.js"></script> -->
  </head>
  <body class="m-4">
    <h1 class="text-2xl font-bold">login-button 컴포넌트 페이지</h1>
    <div class="login-button mt-4">
      <h2>로그인하기 버튼</h2>
      <button class="w-2xs md:w-[416px] xl:w-[732px] h-[42px] md:h-[50px] xl:h-[86px] text-xs md:text-base xl:text-[21px] bg-[#3856FF] hover:bg-[#293CA9] text-white font-semibold" type="submit">로그인하기</button>
    </div>
    <div class="check-button mt-4">
      <h2>확인 버튼</h2>
      <button class="w-2xs md:w-[416px] xl:w-[732px] h-[42px] md:h-[50px] xl:h-[86px] text-xs md:text-base xl:text-[21px] bg-[#404040] active:bg-[#E1E1E1] hover:bg-white text-[#898989] active:text-black hover:text-black font-semibold" type="button">확인</button>
    </div>
    <div class="identify-button mt-4">
      <h2>본인인증하기 버튼</h2>
      <button class="w-2xs md:w-[416px] xl:w-[732px] h-[42px] md:h-[50px] xl:h-[86px] text-xs md:text-base xl:text-[21px] bg-[#E1E1E1] text-black hover:bg-white font-semibold" type="submit">본인인증하기</button>
    </div>
    <div class="no-border-button mt-4">
      <h2>테두리 없는 버튼</h2>
      <button class="w-[170px] text-[21px] text-[#A6A6A6] hover:text-white">Text</button>
    </div>
  </body>
</html>
