<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UI 프로젝트 - CSS</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <!-- <script type="module" src="/src/main.js"></script> -->
  </head>
  <body>
    <h1>login-input 컴포넌트 생성을 위한 페이지</h1>

    <div class="input-component gap-1">
      <label for="keyword" class="sr-only">검색어</label>
      <input
        class="input-search   
        sm:w-[18rem] sm:h-[2.875rem] md:w-[26rem] md:h-[3.375rem] xl:w-[45.75rem] xl:h-[6rem]
        pt-0 pr-5 pb-0 pl-4
       bg-[#212121] rounded-sm
        sm:text-sm md:text-base xl:text-2xl text-[#565656] text-left"
        type="search"
        id="keyword"
        name="keyword"
        required
        placeholder="placeholder"
        aria-describedby="hint-keyword"
      />
      <p class="hint-keyword 
       sm:text-xs md:text-base xl:text-2xl
       text-left w-full
       text-[#6B6B6B]"
       >hintplace</p>
    </div>
  </body>
</html>
